*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --blue: #2a5ee8;
    --violet: #748adb;
    --dark: #23272a;
    --gray: #f6f6f6;
}

.debug{
    border: 1px solid red;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header{
    background-color: var(--blue);
    padding: 10px;
}

ul{
    list-style: none;
    padding: 10px;
}

div ul li a{
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

button{
    padding: 5px 15px;
    border-radius: 35%;
}

.display-flex{
    display: flex;
    justify-content: space-between;
}

#hero{
    padding: 10px;
    background-color: var(--blue);
}

#place{
    padding: 10px;
}

.image{
    width: 60%;
}

.text{
    width: 40%;
}

#meet{
    background-color: var(--gray);
    flex-direction: row-reverse;
    padding: 10px;
}

#community{
    padding: 10px;
}

#technology{
    background-color: var(--gray);
    padding: 10px;
}

#cta{
    background-color: var(--gray);
    padding: 10px;
}

footer{
    background-color: var(--dark);
    color: white;
    padding: 10px;
}

.footer-top{
    border-bottom: 1px solid var(--gray);
}